[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	root = rev-parse --show-toplevel
	please = push --force-with-lease
	modified-at = show --pretty="" --name-only
	modified = diff --name-only --diff-filter=ACM
	staged = diff --staged --name-only --diff-filter=ACM
	hist = log --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(red)%s %C(bold red){{%an}}%C(reset) %C(blue)%d%C(reset)' --graph --date=short
[merge]
	tool = meld
[absorb]
        maxStack = 128
[diff]
	colormoved = default
[credential]
	helper = !pass-git-helper $@
[user]
	signingkey = 8C53D3E6D2E985F7
	email = clement.hurlin@tweag.io
	name = Clément Hurlin
[init]
	defaultBranch = main
[core]
	pager = cat
; [diff]
;         external = difft
