[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	root = rev-parse --show-toplevel
[merge]
	tool = meld
[absorb]
        maxStack = 128
[diff]
	colormoved = default
